* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.app-body {
  display: flex;
  flex-direction: column;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(90deg, #6e5efe 0%, #493ffc 100%);
  height: 90px;
}

.navbar-container .navbar-logo {
  width: 20%;
  justify-self: flex-start;
  margin-left: 60px;
  cursor: pointer;
  align-self: center;
  display: flex;
}

.navbar-container .nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  align-items: center;
}

.navbar-container .nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar-container .nav-links:hover {
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.navbar-container .nav-links-mobile {
  display: none;
}

.navbar-container .menu-icon {
  display: none;
}

.navbar-container .menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-self: end;
}

.navbar-container .fa-bars,
.navbar-container .fa-times {
  color: white;
}

:root {
  --primary: #3acbf7;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  max-height: 60px;
  margin: 15px;
  margin-right: 2vw;
}

.btn:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: #fff;
  color: #6568f4;
}

.btn--primary {
  background-color: var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
}

.btn--large {
  padding: 12px 26px;
  border-radius: 4px;
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 830px) {
  .navbar-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 90px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    background: #6668f4;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: #7577fa;
    border-radius: 0;
  }
  .navbar-logo {
    position: absolute;
    margin: 0 !important;
    width: 40% !important;
    left: 30%;
    right: 30%;
  }
  .menu-icon {
    display: block !important;
    position: absolute;
    top: 2vh;
    right: 2vh;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .btn {
    position: absolute;
    right: 20px;
    font-size: 12px;
    top: 16px;
  }
  li {
    width: 80%;
    margin: 10px auto;
  }
  .nav-links-mobile {
    display: block !important;
    text-align: center;
    padding: 1.2rem;
    border-radius: 4px;
    background: #4ad9e4;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
  }
  .nav-links-mobile:hover {
    background-color: #fff;
    color: #6568f4;
    transition: 250ms;
  }
  Button {
    display: none;
  }
}

.hero-banner {
  background-color: aliceblue;
  background-image: url(../assets/homepage_hero.svg);
  background-repeat: no-repeat;
  background-position: 90% 170%;
  background-size: 550px 430px;
  padding: 50px;
  height: 500px;
}

.hero-banner .hero-content {
  display: flex;
  flex-direction: column;
  background: rgba(92, 130, 244, 0.5);
  height: 300px;
  padding: 35px;
  width: 50%;
  margin-left: 5vw;
}

.hero-banner .hero-content .hero-title {
  width: 100%;
  font-size: 42px;
  font-weight: 300;
  color: white;
}

.hero-banner .hero-content .hero-subtitle {
  width: 100%;
  font-weight: 100;
  color: white;
}

@media screen and (max-width: 830px) {
  .hero-banner {
    background-position: 80% 100%;
    background-size: 280px 250px;
    height: 600px;
  }
  .hero-banner .hero-content {
    width: 100% !important;
    height: 100%;
    margin: 0px !important;
  }
}

.app-body {
  display: flex;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 25px auto;
  align-items: center;
  height: 450px;
  justify-content: center;
  background-color: rgba(55, 160, 176, 0.757);
}

.contact-form .form-item {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
}

.contact-form .form-item input,
.contact-form .form-item textarea {
  border-radius: 0px;
  border: 0.5px solid white;
  background-color: lightgrey;
  resize: none;
}

.contact-form #contact-submit {
  width: 20%;
  align-items: center;
}

@media (max-width: 640px) {
  #contact-submit {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */