* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.app-body {
  display: flex;
  flex-direction: column;
}

.footer-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 300px;
  background: linear-gradient(90deg, #6e5efe 0%, #493ffc 100%);
}

.footer-container .footer-logo {
  height: 275px;
  margin-top: -40px;
  margin-bottom: -60px;
}

.footer-container .footer-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
}

.footer-container .footer-menu li {
  margin: 15px;
}

.footer-container .footer-menu .nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.footer-container .footer-menu .nav-links:hover {
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.footer-container .footer-menu .nav-links-mobile {
  display: none;
}

.footer-container .copyright {
  margin-bottom: 10px;
}

.footer-container .copyright p {
  font-size: 12px;
}

.navbar-container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(90deg, #6e5efe 0%, #493ffc 100%);
  height: 90px;
  padding: 30px;
}

.navbar-container .navbar-logo {
  width: 50%;
  justify-self: flex-start;
  margin-left: 60px;
  cursor: pointer;
  align-self: center;
  display: flex;
}

.navbar-container .nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  align-items: center;
}

.navbar-container .nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navbar-container .nav-links:hover {
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.navbar-container .nav-links-mobile {
  display: none;
}

.navbar-container .menu-icon {
  display: none;
}

.navbar-container .menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-self: end;
}

.navbar-container .fa-bars,
.navbar-container .fa-times {
  color: white;
}

:root {
  --primary: #3acbf7;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  max-height: 60px;
  margin: 15px;
  margin-right: 2vw;
}

.btn:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: #6568f4;
  color: #fff;
}

.btn--primary {
  background-color: var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  margin: 0 !important;
}

.btn--large {
  padding: 12px 26px;
  border-radius: 4px;
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 830px) {
  .navbar-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 380px;
    position: absolute;
    top: 90px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    background: #6668f4;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: #7577fa;
    border-radius: 0;
  }
  .navbar-logo {
    position: absolute;
    margin: 0 !important;
    width: 40% !important;
    left: 30%;
    right: 30%;
  }
  .menu-icon {
    display: block !important;
    position: absolute;
    top: 2vh;
    right: 2vh;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .btn {
    position: absolute;
    right: 20px;
    font-size: 12px;
    top: 16px;
  }
  li {
    width: 80%;
    margin: 10px auto;
  }
  .nav-links-mobile {
    display: block !important;
    text-align: center;
    padding: 1.2rem;
    border-radius: 4px;
    background: #4ad9e4;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
  }
  .nav-links-mobile:hover {
    background-color: #fff;
    color: #6568f4;
    transition: 250ms;
  }
  Button {
    display: none;
  }
}

.home-body {
  font-family: "Lato", sans-serif;
}

.home-body .hero-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
  height: 500px;
}

.home-body .hero-banner .hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #004aad;
  height: 300px;
  padding: 45px;
  width: 50%;
}

.home-body .hero-banner .hero-content .hero-title {
  margin: 2vh 3vw;
  z-index: 100;
  width: 100%;
  font-size: 42px;
  font-weight: 300;
  color: white;
}

.home-body .hero-banner .hero-content .hero-subtitle {
  margin-left: 3vw;
  z-index: 100;
  width: 100%;
  font-weight: 300;
  color: white;
}

.home-body .hero-banner .hero-content .hero-box {
  z-index: 2;
  position: absolute;
  min-height: 300px;
  width: 355px;
  top: 15vh;
  left: 55vh;
  background-color: #fa6e73;
}

.home-body .hero-banner .hero-content .hero-box-2 {
  z-index: 3;
  width: 270px;
  height: 100px;
  position: absolute;
  top: 20vh;
  left: 30vh;
  background-color: #4d78db;
}

.home-body .hero-banner .home-hero-img {
  height: 400px !important;
  z-index: 4 !important;
}

.home-body .mission-statement {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  color: #1c1c1c;
}

.home-body .mission-statement h2 {
  text-decoration: underline;
  margin-bottom: 15px;
  font-weight: 300;
}

.home-body .mission-statement p {
  text-align: center;
  font-weight: 300;
}

.home-body .about-section {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  min-height: 550px;
  padding: 30px;
}

.home-body .about-section .about-content {
  padding: 20px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.home-body .about-section .about-content h2 {
  font-weight: 300;
  color: white;
  text-decoration: underline;
}

.home-body .about-section .about-content p {
  color: white;
  margin-top: 20px;
  font-weight: 300;
}

.home-body .about-section .about-content .about-btn {
  margin-top: 20px;
}

.home-body .about-section .about-image {
  max-width: 50%;
  z-index: 1;
}

.home-body .about-section .about-image img {
  max-width: 100%;
}

.home-body .about-section .about-box {
  z-index: 2;
  background-color: #004aad;
  height: 50%;
  width: 50%;
  position: absolute;
}

.home-body .services-section {
  margin: 30px 0;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-body .services-section h2 {
  font-weight: 300;
  margin-bottom: 20px;
  text-decoration: underline;
}

.home-body .services-section p {
  font-weight: 300;
  margin-bottom: 30px;
}

.home-body .services-section .services-content {
  width: 100%;
}

.home-body .services-section .services-content .service-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 140px;
}

.home-body .services-section .services-content .service-cards .service-card {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 450px;
}

.home-body .services-section .services-content .service-cards .service-card h3 {
  margin-top: 30px;
  text-align: left;
  font-weight: 400;
  padding: 0 20px;
}

.home-body .services-section .services-content .service-cards .service-card p {
  text-align: left;
  padding: 20px;
  font-size: 16px;
}

.home-body .services-section .services-content .service-cards .service-card svg {
  margin-top: -130px;
}

.home-body .work-section {
  min-height: 550px;
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-body .work-section h2,
.home-body .work-section p {
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px;
}

.home-body .work-section h2 {
  text-decoration: underline;
}

.home-body .work-section .work-samples {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.home-body .work-section .work-samples .project-sample {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  margin: 20px 0;
}

.home-body .work-section .work-samples .project-sample img {
  max-width: 40%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.home-body .work-section .work-samples .project-sample .project-description {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.home-body .work-section .work-samples .project-sample .project-description a {
  color: black;
}

.home-body .work-section .work-samples .project-sample .project-description h3 {
  font-weight: 300;
  text-decoration: underline;
  margin-bottom: 15px;
}

.home-body .work-section .work-samples .project-sample .project-description p {
  text-align: left;
}

.home-body .work-section .work-samples .project-sample .project-description .project-link {
  margin-top: 20px;
}

@media screen and (max-width: 830px) {
  .hero-banner {
    background-position: 80% 100%;
    background-size: 280px 250px;
    height: 600px;
  }
  .hero-banner .hero-content {
    width: 100% !important;
    height: 100%;
    margin: 0px !important;
  }
}

.app-body {
  display: flex;
  justify-content: center;
}

.contact-form {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 25px auto;
  align-items: center;
  height: 520px;
  justify-content: center;
  background-color: #6668f4;
}

.contact-form .form-item {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  color: white;
}

.contact-form .form-item input,
.contact-form .form-item textarea {
  min-height: 30px;
  border: none !important;
  border-radius: 4px;
  resize: none;
}

.contact-form .form-item textarea {
  min-height: 150px;
}

.contact-form #contact-submit {
  width: 20%;
  align-items: center;
}

@media (max-width: 640px) {
  #contact-submit {
    display: none;
  }
}

.about-banner {
  background: url(../assets/about-banner.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 550px;
}

.contact-cta {
  min-height: 400px;
  width: 80%;
  margin: auto;
  margin-bottom: 70px;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-cta .contact-cta-content {
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  min-height: 300px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
}

.contact-cta .cta-title {
  font-size: 36px;
  font-weight: 300;
  font-size: 32px;
}

.contact-cta .cta-subtitle {
  font-weight: 300;
  font-size: 18px;
}

.contact-cta .contact-cta-btn {
  margin: 0 !important;
}
/*# sourceMappingURL=styles.css.map */