.app-body {
  display: flex;
  justify-content: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 5vh auto;
  text-align: left;
  align-items: center;
  min-height: 800px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  h1,
  p {
    width: 80%;
    text-align: left;
  }

  #service {
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    min-height: 160px;

    .service {
      display: block;
      position: relative;
      cursor: pointer;
      font-size: 12px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      // input {
      //   position: absolute;
      //   opacity: 0;
      //   cursor: pointer;
      //   height: 0;
      //   width: 0;
      // }
    }

    label {
      font-size: 12px;
    }
  }

  .form-item {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;

    .services-list {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      input {
        width: 200px;
      }
    }

    li {
      list-style: none;
    }

    label {
      display: none;
    }

    // .checkbox {
    //   height: 190px;
    //   width: 170px;
    //   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    //   border-radius: 15px;
    //   label {
    //     display: block;
    //     text-align: center;
    //     padding-top: 90%;
    //   }
    // }

    input,
    textarea {
      min-height: 30px;
      resize: none;
      border: none;
      border-bottom: 1px solid turquoise;
      background-color: #f5f5f5;
      padding: 5px;
    }
    textarea {
      min-height: 150px;
    }
  }

  #contact-submit {
    width: 20%;
    align-items: center;
  }
}

.cms {
  background: url("../assets/cms.svg");
  background-size: 80%;
  background-position-x: 15px;
  background-position-y: 30px;
  background-repeat: no-repeat;
}

.react {
  background: url("../assets/react.svg");
  background-size: 80%;
  background-position-x: 15px;
  background-position-y: 30px;
  background-repeat: no-repeat;
}

.web-redesign {
  background: url("../assets/redesign.svg");
  background-size: 80%;
  background-position-x: 15px;
  background-position-y: 30px;
  background-repeat: no-repeat;
}

@media (max-width: 640px) {
  #contact-submit {
    display: none;
  }
}
