.contact-form-container {
  padding: 5% 25%;
  font-family: 'Lato';
  h2, p {
    font-weight: 300;
    line-height: 1.5em;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    .contact-name,
    .contact-email,
    .contact-company,
    .contact-message {
      label {
        display: none;
      }
      input,
      textarea {
        min-width: 500px;
        padding: 7px;
        margin-bottom: 10px;
        resize: none;
      }
      #message {
        min-height: 150px;
      }
    }
  }
}
