.app-body {
  display: flex;
  justify-content: center;
}
.contact-form {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 25px auto;
  align-items: center;
  height: 520px;
  justify-content: center;
  background-color: #6668f4;

  .form-item {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    color: white;

    input,
    textarea {
      min-height: 30px;
      border: none !important;
      border-radius: 4px;
      resize: none;
    }
    textarea {
      min-height: 150px;
    }
  }

  #contact-submit {
    width: 20%;
    align-items: center;
  }
}

@media (max-width: 640px) {
  #contact-submit {
    display: none;
  }
}
