.home-body {
  font-family: "Lato", sans-serif;
  .hero-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    height: 500px;
    .hero-content {
      position: relative;
      display: flex;
      flex-direction: column;
      background: #004aad;
      height: 300px;
      padding: 45px;
      width: 50%;
      .hero-title {
        margin: 2vh 3vw;
        z-index: 100;
        width: 100%;
        font-size: 42px;
        font-weight: 300;
        color: white;
      }
      .hero-subtitle {
        margin-left: 3vw;
        z-index: 100;
        width: 100%;
        font-weight: 300;
        color: white;
      }
      .hero-box {
        z-index: 2;
        position: absolute;
        min-height: 300px;
        width: 355px;
        top: 15vh;
        left: 55vh;
        background-color: #fa6e73;
      }
      .hero-box-2 {
        z-index: 3;
        width: 270px;
        height: 100px;
        position: absolute;
        top: 20vh;
        left: 30vh;
        background-color: #4d78db;
      }
    }
    .home-hero-img {
      height: 400px !important;
      z-index: 4 !important;
    }
  }

  .mission-statement {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    color: #1c1c1c;
    h2 {
      text-decoration: underline;
      margin-bottom: 15px;
      font-weight: 300;
    }
    p {
      text-align: center;
      font-weight: 300;
    }
  }

  .about-section {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    min-height: 550px;
    padding: 30px;
    .about-content {
      padding: 20px;
      z-index: 3;
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      h2 {
        font-weight: 300;
        color: white;
        text-decoration: underline;
      }
      p {
        color: white;
        margin-top: 20px;
        font-weight: 300;
      }
      .about-btn {
        margin-top: 20px;
      }
    }
    .about-image {
      max-width: 50%;
      z-index: 1;
      img {
        max-width: 100%;
      }
    }
    .about-box {
      z-index: 2;
      background-color: #004aad;
      height: 50%;
      width: 50%;
      position: absolute;
    }
  }

  .services-section {
    margin: 30px 0;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      font-weight: 300;
      margin-bottom: 20px;
      text-decoration: underline;
    }
    p {
      font-weight: 300;
      margin-bottom: 30px;
    }
    .services-content {
      width: 100%;
      .service-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 30px;
        margin-top: 140px;
        .service-card {
          padding: 20px;
          border-radius: 4px;
          box-shadow: 0 3px 10px rgba(black, 0.2);
          max-width: 300px;
          max-height: 450px;
          h3 {
            margin-top: 30px;
            text-align: left;
            font-weight: 400;
            padding: 0 20px;
          }
          p {
            text-align: left;
            padding: 20px;
            font-size: 16px;
          }
          svg {
            margin-top: -130px;
          }
        }
      }
    }
  }

  .work-section {
    min-height: 550px;
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2,
    p {
      text-align: center;
      font-weight: 300;
      margin-bottom: 20px;
    }
    h2 {
      text-decoration: underline;
    }
    .work-samples {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px 0;
      .project-sample {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 60%;
        margin: 20px 0;
        img {
          max-width: 40%;
          box-shadow: 0 3px 10px rgba(black, 0.2);
        }
        .project-description {
          display: flex;
          flex-direction: column;
          padding: 20px;
          a {
            color: black;
          }
          h3 {
            font-weight: 300;
            text-decoration: underline;
            margin-bottom: 15px;
          }
          p {
            text-align: left;
          }
          .project-link {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .hero-banner {
    background-position: 80% 100%;
    background-size: 280px 250px;
    height: 600px;
    .hero-content {
      width: 100% !important;
      height: 100%;
      margin: 0px !important;
    }
  }
}
