.home-body {
  font-family: "Lato", sans-serif;
  .hero-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    height: 500px;
    .hero-content {
      position: relative;
      display: flex;
      flex-direction: column;
      background: #004aad;
      height: 300px;
      padding: 45px;
      width: 50%;
      .hero-title {
        margin: 2vh 3vw;
        z-index: 100;
        width: 100%;
        font-size: 42px;
        font-weight: 300;
        color: white;
      }
      .hero-subtitle {
        margin-left: 3vw;
        z-index: 100;
        width: 100%;
        font-weight: 300;
        color: white;
      }
      .hero-box {
        z-index: 2;
        position: absolute;
        min-height: 300px;
        width: 355px;
        top: 15vh;
        left: 55vh;
        background-color: #fa6e73;
      }
      .hero-box-2 {
        z-index: 3;
        width: 270px;
        height: 100px;
        position: absolute;
        top: 20vh;
        left: 30vh;
        background-color: #4d78db;
      }
    }
    .home-hero-img {
      height: 400px !important;
      z-index: 4 !important;
    }
  }

  .mission-statement {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    color: black;
    h2 {
      text-decoration: underline;
      margin-bottom: 15px;
      font-weight: 300;
    }
    p {
      text-align: center;
      font-weight: 300;
    }
  }

  .about-section {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    min-height: 550px;
    padding: 30px;
    .about-content {
      padding: 20px;
      z-index: 3;
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      h2 {
        font-weight: 300;
        color: white;
        text-decoration: underline;
      }
      p {
        color: white;
        margin-top: 20px;
        font-weight: 300;
      }
      .about-btn {
        margin-top: 20px;
      }
    }
    .about-image {
      max-width: 50%;
      z-index: 1;
      img {
        max-width: 100%;
      }
    }
    .about-box {
      z-index: 2;
      background-color: #004aad;
      height: 50%;
      width: 50%;
      position: absolute;
    }
  }

  .services-section {
    margin: 30px 0;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      font-weight: 300;
      margin-bottom: 20px;
      text-decoration: underline;
    }
    p {
      font-weight: 300;
      margin-bottom: 30px;
    }
    .services-content {
      width: 100%;
      .service-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 30px;
        margin-top: 140px;
        .service-card {
          padding: 20px;
          border-radius: 4px;
          box-shadow: 0 3px 10px rgba(black, 0.2);
          max-width: 300px;
          max-height: 450px;
          h3 {
            margin-top: 30px;
            text-align: left;
            font-weight: 400;
            padding: 0 20px;
          }
          p {
            text-align: left;
            padding: 20px;
            font-size: 16px;
          }
          svg {
            margin-top: -130px;
          }
        }
      }
    }
  }

  .work-section {
    min-height: 550px;
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2,
    p {
      text-align: center;
      font-weight: 300;
      margin-bottom: 20px;
    }
    h2 {
      text-decoration: underline;
    }
    .work-samples {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px 0;
      .project-sample {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 60%;
        margin: 20px 0;
        img {
          max-width: 40%;
          box-shadow: 0 3px 10px rgba(black, 0.2);
        }
        .project-description {
          display: flex;
          flex-direction: column;
          padding: 20px;
          a {
            color: black;
          }
          h3 {
            font-weight: 300;
            text-decoration: underline;
            margin-bottom: 15px;
          }
          p {
            text-align: left;
          }
          .project-link {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .home-body {
    .hero-banner {
      background-position: 80% 100%;
      background-size: 280px 250px;
      height: 600px;
      padding: 20px;
      flex-direction: column;
      .home-hero-img {
        width: 220px;
        margin: auto;
      }
      .hero-content {
        width: 100% !important;
        margin: 0px !important;
        padding: 15px;
        .hero-box {
          z-index: 3;
          position: absolute;
          min-height: 219px;
          width: 248px;
          top: 31vh;
          left: 5vh;
        }
        .hero-box-2 {
          width: 330px;
          height: 100px;
          top: 22vh;
          left: 2vh;
        }
      }
    }
    .mission-statement {
      justify-content: unset;
      width: 70%;
      text-align: left;
      min-height: 200px;
      h2 {
        width: 100%;
        text-align: left;
      }
      p {
        text-align: left;
      }
    }
    .about-section {
      flex-direction: column;
      align-items: center;
      .about-content {
        margin: unset;
      }
      .about-image {
        max-width: unset;
        z-index: 100;
        margin-top: -20px;
      }
      a {
        text-decoration: none;
        margin: 20px;
        button {
          top: unset;
          font-size: unset;
          right: unset;
          position: relative;
          display: block !important;
          margin: auto !important;
        }
      }
      .about-box {
        width: 95%;
        height: 70%;
      }
    }
    .services-section {
      .services-content {
        width: 70%;
        h2 {
          text-align: left;
        }
        p {
          text-align: left;
        }
        a {
          text-decoration: none;
          margin-bottom: -50px;
          Button {
            top: unset;
            font-size: unset;
            right: unset;
            position: relative;
            display: block !important;
          }
        }
        .service-cards {
          align-items: center;
          margin-top: 40px;
          flex-basis: 50%;
          .service-card {
            margin-top: 120px;
          }
        }
      }
    }
    .work-section {
      .work-samples {
        .project-sample {
          flex-direction: column;
          width: 85%;
          img {
            max-width: 95%;
          }
        }
      }
    }
  }
}

@media (max-width: 1272px) {
  .service-card {
    width: 265px;
    svg {
      width: 200px;
    }
  }
}

@media (max-width: 1096px) {
  .service-cards {
    column-count: 2;
    .service-card {
      min-height: 460px;
    }
    h3 {
      margin-top: 0px !important;
    }
  }
}
